.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.image-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bg-image {
  width: 100%;
  object-fit: cover;
}

.front-image {
  width: 23rem;
  position: absolute;
  top: 2rem;
  right: 12%;
}

.banner {
  position: absolute;
  top: 25%;
  left: 12%;
  z-index: 2;
}

.banner h1 {
  font-family: "Josefin Slab", serif;
  font-size: 6rem;
  font-weight: 700;
  color: #ffdea5;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
  margin-bottom: 1rem;
}

.banner p {
  font-family: "Josefin Slab", serif;
  font-size: 2.1rem;
  color: #eecf9a;
  font-weight: 500;
  width: 80%;
  letter-spacing: 0.1rem;
  margin-bottom: 2.2rem;
  text-shadow: 0 0.3rem 0.5rem #000;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  width: 15rem;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: #632029;
  border: none;
  font-family: "Mulish", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #eecf9a;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner button h1 {
  font-size: 1.7rem;
  padding: 0 2rem;
}

.banner button p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-90deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@keyframes arrows {
  0% {
    border-color: #eecf9a;
  }
  50% {
    border-color: #802836;
  }
  100% {
    border-color: #eecf9a;
  }
}

.arrows {
  transform: translateY(-20%);
}

.arrows span {
  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #eecf9a;
  border-bottom: 2px solid #eecf9a;
  width: 1rem;
  height: 1rem;
  margin: 0rem 0 -0.35rem 0;
  animation: arrows 2s alternate infinite linear;
}
.arrows span:nth-child(2) {
  animation-delay: 0.2s;
}
.arrows span:nth-child(3) {
  animation-delay: 0.4s;
}

@media only screen and (max-width: 1200px) {
  .front-image {
    right: 0%;
  }
}

@media only screen and (max-width: 976px) {
  .front-image {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: initial;
  }
  .banner p {
    text-align: center;
  }
  .banner button {
    width: 18rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .banner button {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .banner button {
    width: 60%;
    height: 3rem;
    margin-top: initial;
  }
  .banner p {
    font-size: 1.7rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
