.card-container {
  width: 100%;
  margin-top: 10%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  width: 300px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 60px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  font-family: "Mulish", serif;
  text-align: center;
  transition: 0.5s ease;
  background-color: white;
  cursor: pointer;
  margin: 30px;
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text p {
  color: grey;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5%;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 1.8rem;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(173, 83, 59);
}
.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(39, 39, 39);
  border-right: 1px solid rgb(39, 39, 39);
}
.card-stats .value {
  font-size: 1.3rem;
  font-weight: 500;
}
.card-stats .value sup {
  font-size: 0.7rem;
}
.card-stats .type {
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.03);
}
@media (max-width: 568px) {
  .card-container {
    width: 80%;
    height: fit-content;
    display: block;
    overflow: hidden;
    margin-left: 10%;
    margin-right: auto !important;
  }
  .card {
    width: 100% !important;
    margin: 10% 4%;
  }
}
