.card {
  height: 20rem;
  min-width: 14rem;
  width: 39%;
  max-width: 14rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f27444;
  box-shadow: 7px 6px 13px 4px #00000080;
  transition: all ease-in 0.2s;
  margin: 1rem 1.5rem;
}

.card:hover {
  transform: scale(1.01);
}

.top-content {
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffad8d;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: all ease-in-out 0.2s;
}

.card:hover .top-content {
  background-color: #cf8264;
}

.bottom-content {
  height: 20%;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: brightness(80%);
  transition: all ease-in 0.2s;
}

.team-specific-style {
  width: 85% !important;
  height: initial !important;
  filter: brightness(80%) drop-shadow(-3px -3px 4px rgba(0, 0, 0, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6)) !important;
}

.card:hover .background-image img {
  filter: brightness(50%) blur(1px);
  transform: scale(1.05);
}

.card .team-image img {
  width: 2.5rem;
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.player-position,
.team-conference {
  box-shadow: 2px 2px 7px #000;
  border-radius: 500%;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #632029;
  background-color: #f27444;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

.player-position p,
.team-conference p {
  color: #632029;
  font-family: "Baloo 2", cursive;
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.team-conference p {
  color: #ffcfd6 !important;
}

.player-stats,
.team-standing {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  bottom: 1rem;
  color: #fac0aa;
  text-shadow: 2px 2px 6px #310002;
  transform: translateY(7rem);
  transition: all ease-in 0.4s;
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 5px 8px #00000066;
  border-radius: 2rem;
}

.player-stats {
  margin-left: 2%;
  width: 96%;
}

.player-stats h3 {
  color: #f27444;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.player-stats p {
  text-align: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.card:hover .player-stats {
  transform: translateY(0);
}

.card:hover .team-standing {
  transform: translateY(0);
}

.team-standing p {
  font-size: 1.7rem;
  font-weight: 600;
  color: #f9ddd2;
}

.team-standing p span {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 5px;
}

.btn-click-for-more {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -12rem);
  top: 50%;
  outline: none;
  border: none;
  text-shadow: 2px 2px 5px #69282b;
  font-weight: 600;
  background-color: #f27444;
  border-radius: 2rem;
  width: 8.5rem;
  height: 2.5rem;
  box-shadow: 2px 2px 7px 1px #000000ba;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  font-family: "Baloo 2", cursive;
  font-weight: 600;
  font-size: 100%;
}

.btn-click-for-more a {
  color: #69282b;
}

.card:hover .btn-click-for-more {
  transform: translate(-50%, -50%);
}

.player-name,
.team-name {
  color: #69282b;
  font-family: "Baloo 2", cursive;
  font-weight: 600;
  text-align: center;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}
