.main-navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 0.2rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 100px;
}

.link-wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-wrapper ul li {
  width: 8rem;
  cursor: pointer;
}

.link-wrapper li {
  text-decoration: none;
  color: #eecf9a;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  font-family: "Mulish", serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .link-wrapper ul {
    display: block;
  }
  .main-navbar {
    padding: 0rem 0%;
  }
  .link-wrapper li {
    font-size: 1.1rem;
  }
  .link-wrapper ul li {
    width: 6rem;
  }
}

@media (max-width: 800px) {
  .link-wrapper {
    display: none;
  }
}
