.main-navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 0.2rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 100px;
}

.link-wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-wrapper ul li {
  width: 8rem;
}

.link-wrapper a {
  text-decoration: none;
  color: #eecf9a;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  font-family: "Mulish", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}
