.route-page {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
}

.background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(25%);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-col {
  margin-left: 2rem;
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.right-col {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  padding: 0 5rem;
}

.front-img {
  width: 16rem;
  height: 20rem;
  max-width: 100%;
}

.front-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 2rem;
  box-shadow: 7px 6px 13px 4px #00000080;
}

.player-page-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #fac0aa;
  text-shadow: 2px 2px 6px #310002;
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 1px 5px 8px #00000066;
  border-radius: 2rem;
}

.player-page-stats h3 {
  color: #f27444;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

.player-page-stats p {
  text-align: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.player-team-img {
  width: 4.5rem;
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  margin-right: 1rem;
}

.page-details {
  display: flex;
  width: 40rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  max-width: 100%;
}

.player-team-wrapper,
.position-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.position-icon,
.team-conference-icon {
  box-shadow: 2px 2px 7px #000;
  border-radius: 500%;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #632029;
  background-color: #f27444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.standing-icon {
  margin-right: 1rem;
}

.team-conference-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.position-icon p,
.team-conference-icon p {
  color: #632029;
  font-family: "Baloo 2", cursive;
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

.team-conference-icon p {
  color: #ffcfd6 !important;
  font-size: 1.6rem;
}

.page-bio {
  height: 20rem;
  overflow-y: auto;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  padding: 1rem;
  line-height: 1.7rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 1px 5px 8px #00000066;
}

.page-bio p {
  color: #fac0aa;
  font-family: "Mulish", serif;
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.player-team-name,
.position-name {
  color: #fac0aa;
  font-family: "Baloo 2", cursive;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

.page-title h1 {
  color: #f27444;
  font-size: 3.2rem;
  text-shadow: 5px 5px 6px #00000063;
  font-family: "Baloo 2", cursive;
  font-weight: 500;
}

.team-img {
  width: 12rem;
  height: initial;
}

.team-img img {
  height: initial !important;
  border-radius: initial !important;
  box-shadow: initial !important;
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.conference-wrapper,
.standing-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.conference-name,
.standing-info {
  color: #fac0aa;
  font-family: "Baloo 2", cursive;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

.roster {
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 1px 5px 8px #00000066;
  border-radius: 2rem;
}

.player-list li {
  color: #fac0aa;
  font-family: "Baloo 2", cursive;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

@media only screen and (max-width: 900px) {
  .left-col {
    margin-left: 3rem;
  }
  .right-col {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 750px) {
  .route-page .front-img {
    display: none;
  }

  .route-page .right-col,
  .route-page .left-col {
    width: 100%;
    margin-left: initial;
  }

  .player-page-stats {
    max-width: 80%;
    margin-top: 2rem;
  }

  .route-page .content {
    flex-direction: column-reverse;
  }
  .page-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .player-team-wrapper,
  .position-wrapper,
  .conference-wrapper,
  .standing-wrapper {
    width: 100%;
  }

  .position-wrapper {
    margin-top: 2rem;
  }

  .player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .player-list li {
    padding: 0 2rem;
  }

  .right-col {
    height: 75%;
  }

  .page-bio {
    margin-bottom: 2rem;
  }

  .page-title {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .page-details {
    height: 14rem;
    margin-bottom: 1rem;
  }

  .content {
    overflow-y: scroll;
  }

  .left-col {
    padding: 0 2rem;
  }

  .route-page .roster {
    margin-bottom: 10rem;
  }
}

.back-button-wrapper {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
}

.back-button-wrapper .back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  background: #000;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .page-title h1 {
    font-size: 2.2rem;
  }

  .page-title {
    margin: 1rem 0.2rem 0 1.5rem;
  }
}
